/* navigation */

#navbar
{
    flex-direction: column;
}
#navbar ul li a{
font-size: 1rem;
padding: 0px 8px;
padding-bottom: 8px;
}

/* home section */
#home
{
height: 370px;
padding: 2px 0px;
}

#home::before
{
    height: 539px;
    
}
#home p{
    font-size: 17px;
}


/* service section */
#services
{
flex-direction: column;
}



/* clients section */

#clients
{
  flex-wrap: wrap;
}
#clients img{
    width: 62px;
    padding: 2px 4px;
    /* padding:5px 10px; */
}

/* contact us section */

#contact::before 
    {
        height: 114%;
        margin-top: 54px;
    }
#contact form
{
width:80%;
}

/* footer */


/* utlity classes */
.h-primary
{
    font-size: 27px;
}
.btn
{
    font-size: 12px;
    padding:5px 8px ;
   
}