/* CSS reset */
*{
    margin:0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
/* CSS Variables  */
:root{
    --navbar-height:59px;

}
/* navigation bar */
#navbar
{
    display: flex;
    align-items: center;
    position:sticky;
    top: 0px;
    /* justify-content: center; */
}
/* navigation baar : logo and image */
#logo
{
    margin: 6px 34px;

}
#logo img{
    margin: 1px 4px;
    height: 69px;
}


/* Navigation Bar :List Styling */
#navbar ul
{
display: flex;
font-family: 'Noto Sans KR', sans-serif;
}
#navbar::before
{
content:"" ;
background-color: black;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.6;
}

#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;  
}

#navbar ul li a
{
    color: white;
    display: block;
    padding: 2px 44px;
    border-radius: 20px;
    text-decoration:none ;
}

#navbar ul li a:hover
{
    color:black ;
    background-color: white;
}


/* Home Section */
#home
{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 293px;
    justify-content: center;
    align-items: center;
}
#home::before
{
    content:"" ;
    background:url('/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 484px;
    width: 100%;
    top: 0px;
    left: 0px;
    
    z-index: -1;
    opacity: 0.8;
}
    
    
    #home h1{
        color: white;
        text-align: center;
    }
    
    #home p
    {
        color: white;
        text-align: center;
        font-size: 1.5 rem;
        font-family: 'Baloo Bhai 2', cursive;
    }
    /* services section */
   
#services{
    margin: 8px;
    display: flex;
    margin-top: -57px;
  

}

#services::before
{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    /* background-color: coral; */

}

#services .box{

    border: 2px solid brown;
    margin: 4px 22px;
    border-radius: 25px;
    background-color: #e5e5ec;

}
#services .box img{

   height: 144px;
   display: block;
   margin: auto;
   padding: 8px 1px;
  
}
#services.box p{
    font-family: 'Noto Sans KR', sans-serif;
}


/* Contact Section */

#contact::before
{
    content: "";
    height: 107%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    background:url('/bg2.jpg');
   margin-top: 29px;

}


/* Clients-section */
#client-section{
    position:relative;
    /* height: 344px; */

}
#client-section::before{

  content: "";
  position: absolute;
  background: url('/ba2.jpg');
  width: 100%;
  height: 364px;
  z-index:-1;
  /* opacity:0.6  ; */
top: 59px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 89px;
}
.client-items
{
    padding: 23px;
}



/* utilty class */
.h-primary
{
    font-size: 2.8rem;
    padding: 95px;
    font-family: 'Noto Sans KR', sans-serif;
}
.h-secondary
{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}
.btn
{
    background-color: brown;
    padding: 6px 20px;
    border: 2px solid white;
    color:white;
    margin: 17px;
    font-size: 19px;
    border-radius: 12px;
    cursor: pointer;
}
.center
{
    text-align: center;
}
footer
{
    background-color: black;
    padding: 2px 20px;
    color: white;
}

#contact-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 37px;
}
#contact-box input,
#contact-box textarea
{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 12px;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
   font-size: 1.6rem;
}